.offers {
  padding-top: 64px;
  padding-bottom: 64px;
}

.offers-cards {
  width: calc(100% - (var(--page-gutter) * 2));

  margin: 32px auto 0;

  display: flex;
  flex-direction: column;

  gap: 24px;
}

.card {
  width: 100%;
  min-height: 288px;

  padding: 24px 16px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  color: var(--text-secondary-color);
  background-color: var(--background-tertiary-color);

  border-radius: 16px;

  text-align: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* RESET DO HEADER GLOBAL */

.card .card__header {
  width: 100%;

  min-height: auto;

  margin: 0;
  padding: 0;

  display: block;

  position: static;

  background-color: transparent;
}

/* HOTEL + AÉREO */

.card__header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

/* CONTEÚDO */

.card__content {
  width: 100%;
}

.card__content h3 {
  font-size: 40px;
  font-weight: var(--title-weight);

  line-height: 1.2;
}

.card__content p {
  margin-top: 24px;

  font-size: 32px;
  font-weight: var(--title-weight);
}

/* FOOTER DO CARD */

.card__footer {
  width: 100%;
}

/* IMAGENS */

.card.japao {
  background-image: url("../img/bg-card-japao.png");
}

.card.san-andreas {
  background-image: url("../img/bg-card-san-andreas.png");
}

.card.paraiba {
  background-image: url("../img/bg-card-paraiba.png");
}

.card.manaus {
  background-image: url("../img/bg-card-manaus.png");
}

/* TABLET */

@media screen and (min-width: 768px) {
  .offers {
    padding-top: 88px;
    padding-bottom: 88px;
  }

  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: calc((100% - 24px) / 2);
  }
}
