.offers {
  padding: 40px 24px;
}

.offers-cards {
  width: 100%;

  margin: 32px auto 0;

  display: flex;
  flex-direction: column;

  gap: 24px;
}

.card {
  width: 100%;
  min-height: 288px;

  box-sizing: border-box;

  padding: 24px 16px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  border-radius: 16px;

  color: var(--text-secondary-color);
  background-color: var(--background-tertiary-color);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
}

/* RESET DO HEADER GLOBAL */

.card .card__header {
  width: 100%;

  min-height: auto;

  margin: 0;
  padding: 0;

  display: block;

  position: static;

  background-color: transparent;
}

.card__header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

/* CONTEÚDO */

.card__content {
  width: 100%;

  margin: 0;
  padding: 0;
}

.card__content h3 {
  font-size: 40px;
  font-weight: var(--title-weight);

  line-height: 1.2;
}

.card__content p {
  margin-top: 24px;

  font-size: 32px;
  font-weight: var(--title-weight);
}

/* FOOTER */

.card__footer {
  width: 100%;

  margin: 0;
  padding: 0;
}

/* BACKGROUNDS */

.card.japao {
  background-image: url("../img/bg-card-japao.png");
}

.card.san-andreas {
  background-image: url("../img/bg-card-san-andreas.png");
}

.card.paraiba {
  background-image: url("../img/bg-card-paraiba.png");
}

.card.manaus {
  background-image: url("../img/bg-card-manaus.png");
}

/* TABLET */

@media screen and (min-width: 768px) {
  .offers {
    padding: 40px 60px;
  }

  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;

    gap: 24px;
  }

  .card {
    width: calc((100% - 24px) / 2);
  }
}

/* DESKTOP */

@media screen and (min-width: 1024px) {
  .offers {
    padding: 40px 121.5px;
  }

  .offers-cards {
    margin-top: 40px;
  }
}
