.popular-destinations {
  padding-top: 64px;
  padding-bottom: 64px;
}

.popular-destinations__list {
  width: calc(100% - 48px);
  max-width: var(--content-max-width);

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;

  gap: 32px;
}

.popular-destinations__card {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 16px;
}

.popular-destinations__image {
  width: 100%;

  aspect-ratio: 4 / 5;

  display: block;

  object-fit: cover;
}

.popular-destinations__content {
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: flex-start;

  gap: 16px;
}

.popular-destinations__title {
  font-size: 20px;
  font-weight: var(--title-weight);
  line-height: 32px;
}

.popular-destinations__description {
  width: 100%;

  font-size: 16px;
  font-weight: var(--text-weight);
  line-height: 1.5;
}

.popular-destinations__button {
  width: 100%;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .popular-destinations {
    padding-top: 88px;
    padding-bottom: 88px;
  }

  .popular-destinations__list {
    width: calc(100% - 120px);
  }

  .popular-destinations__image {
    aspect-ratio: auto;
    height: 454px;
  }

  .popular-destinations__description {
    font-size: 18px;
  }

  .popular-destinations__button {
    width: 280px;
  }
}

/* DESKTOP */

@media screen and (min-width: 1024px) {
  .popular-destinations__list {
    flex-direction: row;

    gap: 24px;
  }

  .popular-destinations__card {
    width: calc((100% - 24px) / 2);
  }

  .popular-destinations__image {
    height: 450px;
  }

  .popular-destinations__description {
    font-size: 20px;
  }
}
